.mintpage__layout {
  /* min-height: 90vh; */
}

.mintpage .content--large {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}

.mintpage__card {
  background-color: #282b54;
  padding: 3rem;
}

.mintpage__card .card__currentMint {
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0.5rem 0;
}

.mintpage__card .card__contractAddress {
  color: var(--accent-color);
}

.mintpage__form input {
  margin: 2rem 0;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}

.mintpage__form .form__action {
  display: flex;
  align-items: center;
}

.mintpage img {
  width: 15rem;
  margin: 2rem;
}
