/* .mintpage__layout {
  min-height: calc(100vh - 105px);
} */

.mintpage {
  position: relative;
  min-height: calc(100vh - 105px);
}

.mintpage .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.mintpage__card {
  background-color: #282b54;
  border-radius: 1%;
  padding: 2.5rem;
}

.mintpage__currentMint {
  font-size: 1.4rem;
  font-weight: 200;
  margin: 0.5rem 0;
}

.mintpage__contractAddress {
  color: var(--accent-color);
}

.mintpage__form input {
  margin: 3rem 0;
  font-size: large;
  text-align: center;
  padding: 0.5rem;
}

.mintpage__form,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.mintpage__form .btn {
  min-width: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mintpage__form .mintpage__formAction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mintpage__price {
  display: inline-block;
  font-size: 1.2rem;
  width: 15ch;
  margin-right: 1rem;
  vertical-align: middle;
}

.mintpage img {
  width: 15rem;
  margin: 2rem;
}

.mintpage__modal {
  max-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.mintpage__modal .modal__header {
  text-align: end;
}

.mintpage__modal .modal__header svg {
  width: 1rem;
  height: auto;
  fill: var(--secondary-color);
  cursor: pointer;
}

.mintpage__modal .modal__content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mintpage__modal .modal__content .modal__loading {
  width: 5rem;
  animation: full-moon-rotating 10s infinite linear;
  align-self: center;
}

@keyframes full-moon-rotating {
  from {
    transform: rotate(0deg);
    /* filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.9)); */
  }

  50% {
    transform: rotate(180deg);
    /* filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0)); */
  }

  to {
    transform: rotate(360deg);
    /* filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.9)); */
  }
}

.mintpage__modal .modal__content p {
  padding-bottom: 2rem;
}

.mintpage__modal .modal__content a {
  color: var(--accent-color);
  cursor: pointer;
}
