.homepage__landing {
  min-height: calc(100vh - 105px);
}

.homepage__mainTitle {
  margin: 0 0 1rem 0;
}

.homepage__subText {
  margin: 0 0 3rem 0;
  font-size: 1.2rem;
}

.homepage__overview {
  background-color: var(--secondary-color);
  color: var(--font-contrast);
}

.homepage__subTitle {
  margin-bottom: 3rem;
}

.homepage__overview .homepage__text {
  margin-bottom: 1rem;
}
.homepage__team .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 80%;
}

.homepage__team .homepage__subTitle {
  flex-basis: 100%;
}

.member img {
  width: 15rem;
  margin: 2rem;
  border-radius: 50%;
}

.member__name {
  margin: 0.5rem;
}

.homepage__faq dd {
  margin: 1rem 0 2rem 0;
}
