@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: light;
  font-style: italic;
}

:root {
  --primary-color: #1f213e;
  --secondary-color: #ffffff;
  --accent-color: #ffe99c;
  --font: #ffffff;
  --font-contrast: #000000;
  --max-content-width: 100rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--font);
  overflow-y: scroll;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

.layout {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.content {
  width: 50%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
}
